﻿<!doctype html>
<html lang="en" >
<head>
    <meta charset="utf-8">
    <title>My HTML File</title>
    <script data-main="js/main" src="./js/lib/require.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/myStyle.css" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Library</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/login">Login</a></li>
                    <li><a href="#/admin">AdminPage</a></li>
                    <li><a href="#/settings">Settings</a></li>
                    <li><a href="#/profile">Profile</a></li>
                    <li><a href="#/help">Help</a></li>
                </ul>
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                </form>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar" ng-controller="CategoryListCtrl as list">
                <ul class="nav nav-sidebar" >
                    <li ng-repeat="category in list.categories"><a href="#/category/{{category.genre}}">{{category.genre}}</a></li>
                </ul>
               
                
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div ng-view></div>
                
            </div>
        </div>
    </div>



</body>
</html>
                
