﻿<pre> Hello</pre>
<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Действие <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="">Add new genre</a></li>
        <li><a href="">Add new book</a></li>
        <li><a href="">Что-то иное</a></li>
        <li class="divider"></li>
        <li><a href="">Отдельная ссылка</a></li>
    </ul>
</div>
<form role="form">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter name">
    </div>
    <button type="submit" class="btn btn-default">Save</button>
</form>