<div class="col-xs-12 col-sm-9">
    <div class="jumbotron">
        <h1>{{book[id-1].name}}</h1>
        <h2>{{book[id-1].author}}</h2>
        <p>{{book[id-1].desc}}</p>
        <pre>{{book[id-1].id}} </pre>
    </div>
    <div class="row">
        <div class="col-6 col-sm-6 col-lg-4">
            <img ng-src="{{book[id-1].imageURL}}">
        </div><!--/span-->
    </div><!--/row-->
</div><!--/span-->