<h2 class="sub-header">{{name}}</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Book Name</th>
                <th>Author</th>
                <th>Header</th>
                <th>Header</th>
            </tr>
        </thead>
        <tbody ng-repeat="book in books | filter:genre">
            <tr>
                <td>{{book.id}}</td>
                <td> <a href="#/book/{{book.id}}">{{book.name}}</a></td>
                <td>{{book.author}}</td>
                <td>dolor</td>
                <td>sit</td>
            </tr>
        </tbody>
    </table>
</div>