
    
<div class="col-xs-12 col-sm-9">
    <p class="pull-right visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
    </p>
    <div class="jumbotron">
        <h1>Hello, world!</h1>
        <p>This is an example .</p>
    </div>
    <div class="row">
        <div class="col-6 col-sm-6 col-lg-4">
            <h2>Heading</h2>
            <p>Donec id elit non md. Donec sed odio dui. </p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!--/span-->
    </div><!--/row-->
</div><!--/span-->
    
